// Breakpoints

@mixin bp( $point )
{
	$bp-0  : '( max-width: 30em )';
	$bp-1  : '( min-width: 30em )';
	$bp-2  : '( min-width: 45em )';
	$bp-3  : '( min-width: 60em )';
	$bp-4  : '( min-width: 75em )';

	$bp-a  : '( min-height: 40em )';
	$bp-b  : '( min-height: 60em )';

	$bp-aa : '( orientation: portrait )';
	$bp-bb : '( orientation: landscape )';

	@if $point == 0
	{
		@media #{$bp-0}
		{
			@content;
		}
	}

	@else if $point == 1
	{
		@media #{$bp-1}
		{
			@content;
		}
	}

	@else if $point == 2
	{
		@media #{$bp-2}
		{
			@content;
		}
	}

	@else if $point == 3
	{
		@media #{$bp-3}
		{
			@content;
		}
	}

	@else if $point == 4
	{
		@media #{$bp-3}
		{
			@content;
		}
	}

	@else if $point == A
	{
		@media #{$bp-a}
		{
			@content;
		}
	}

	@else if $point == B
	{
		@media #{$bp-b}
		{
			@content;
		}
	}

	@else if $point == portrait
	{
		@media #{$bp-aa}
		{
			@content;
		}
	}

	@else if $point == landscape
	{
		@media #{$bp-bb}
		{
			@content;
		}
	}
}
