* + *
{
	margin-top: 1em;
}

br + br
, nav * + *
, p * + *
, table * + *
{
	margin-top: auto;
}

html
{
	background-color: $gray-darker;
}

body
{
	font-family: $sans-serif;
	font-size: 1rem;
	line-height: 1.7;
	background-color: $gray;
	color: $orange-darker;
}

h1
{
	font-family: $serif;
	font-size: 3rem;
	font-weight: 400;
	line-height: 1.2;

	@include bp( 1 )
	{
		font-size: 4.5rem;
	}
}

h2
{
	font-size: 1.5rem;
	font-weight: 300;
	line-height: 1.2;

	@include bp( 1 )
	{
		font-size: 2.25rem;
	}

	h1 + &
	{
		margin-top: .5em;
	}

	.positions + &
	{
		margin-top: 2em;
	}
}

h3
{
	font-size: .9rem;
	letter-spacing: .1em;
	text-transform: uppercase;
}

h3
, h4
{
	font-weight: 700;
}

h5
, h6
{
	font-weight: 400;
}

h4
, h5
, h6
{
	font-size: 1rem;
}

small
{
	font-size: .9rem;
	line-height: inherit;
}

abbr
{
	font-size: .9rem;
	letter-spacing: .07em;
	border-bottom: 1px dashed;
	cursor: help;
}

a
{
	padding-right: .25em;
	padding-left: .25em;
	text-decoration: underline;
	text-decoration-color: $orange;
	outline: none;
	border-radius: 3px;
	background-image: linear-gradient(135deg, $orange, $orange-dark);
	background-size: 0;
	color: inherit;

	&:focus,
	&:hover
	{
		background-size: auto;
		text-decoration-color: currentColor;
	}

	img
	{
		border: none;
	}
}

blockquote
{
	margin: 1.5em 3em 0 1em;
	padding-left: 2em;
}

table
{
	width: 100%;
}

tr.odd
{
	background-color: $gray-shade;
}

tr:hover
{
	background-color: $gray-dark-alt;
	color: $white;
}

td
{
	padding: .5em;
}

li
{
	margin-top: .5em;
	margin-left: 1em;
	list-style: disc;
}


.container
{
	min-height: 20em;
	margin: 0 auto;
	padding: 0 .5em 1em;
	font-size: 1rem;
	text-align: left;

	@include bp( 2 )
	{
		display: flex;
		justify-content: center;
		position: relative;
	}
}

header
{
	@include bp( 2 )
	{
		width: $size--brand;
		position: sticky;
		top: 0;
		align-self: flex-start;
	}
}

.contact
{
	li
	{
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

.brand
{
	width: $size--brand;
	margin: 0;
	padding: 29px 0 6px;
	display: block;
	text-decoration: none;
	border-radius: 0;
	background: none;

	img
	{
		width: 100%;
		height: auto;
	}
}

main
{
	max-width: 40em;

	@include bp( 2 )
	{
		margin-top: 0;
		padding: 3em 2.66em 4em;
	}
}

.circle-text
{
	width: 12em;
	height: 12em;
	margin: 1em 1em 0 0;
	padding: 2em;
	position: relative;
	display: flex;
	align-items: center;
	font-size: 100%;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1;
	text-align: center;
	border: 1px solid; // Added for printing from non-webkit browsers.
	border-color: $orange; // fallback
	border-color: rgba( $orange, .7 );
	background-color: $orange; // fallback
	background-color: rgba( $orange, .7 );
	background-image: linear-gradient(135deg, $orange, $orange-dark);
	border-radius: 100%;
}

.positions
{
	margin-left: 0;
	display: flex;
	flex-wrap: wrap;
}

footer
{
	padding: 2em .5em;
	font-size: 1rem;
	border-top: .3em solid $orange;
	background-color: $gray-darker;
	color: $gray-dark-alt;

	@include bp( 2 )
	{
		text-align: center;
	}
}
