@media print
{
	.container
	, footer
	{
		font-size: 10pt;
	}

	main
	{
		width: 6in;
		max-width: 100%;
		margin: 0;
	}

	.positions
	{
		width: 9in;
		max-width: none;
	}

	.position
	{
		&:nth-child( odd )
		{
			margin-left: 1em;
		}

		&:first-child
		{
			margin-left: 0;
		}
	}

	.circle-text
	{
		border-color: $gray-light;
		background-color: $gray-light;
		-webkit-print-color-adjust: exact; // Set -webkit to print background colors.
	}

	.page-break
	{
		page-break-before: always; // Let's keep this classy.
	}
}
